In [12]:
import os, sys, mimetypes, io, pandas as pd, numpy, mimetypes, datetime
import matplotlib.pyplot as plt
%matplotlib inline

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option("display.max_columns", None)

In [68]:
#Generate a csv-like DataFrame called "df" and a "df_pivoted" one where each column is pivoted into rows
def gen():
    for i in range(33,126):
        yield "code("+chr(i)+")"
transco = {'DEV':'toto', 'HOMOL':'titi', 'UAT': 'tata', 'PRE': 'tutu', 'PROD': 'tete'}
x = gen()
data = []

for runid in range(0,5):
    dt=datetime.datetime.now()
    for env in 'DEV', 'HOMOL', 'UAT', 'PRE', 'PROD':
        data.append((runid, env, 'env_00',  env))
        data.append((runid, env, 'transco_01',  transco[env]))
        for i in range(2,5):
            data.append((runid,env, 'power_0'+str(i), i**2))
        for i in range(10,13):
            data.append((runid,env,'code_'+str(i), next(x)))
        data.append((runid,env, 'now_13',dt))

        
df_pivoted = pd.DataFrame(data, columns=["run_id", "env", "field", "value"])
df = df_pivoted.pivot_table(index=['run_id', 'env'], columns = ['field'], values = ['value'], aggfunc ={'value': lambda x: x})['value']

In [69]:
df

field         code_10  code_11  code_12 env_00                      now_13  \
run_id env
0      DEV    code(!)  code(")  code(#)    DEV  2022-08-21 09:30:16.314809
       HOMOL  code($)  code(%)  code(&)  HOMOL  2022-08-21 09:30:16.314809
       PRE    code(*)  code(+)  code(,)    PRE  2022-08-21 09:30:16.314809
       PROD   code(-)  code(.)  code(/)   PROD  2022-08-21 09:30:16.314809
       UAT    code(')  code(()  code())    UAT  2022-08-21 09:30:16.314809
1      DEV    code(0)  code(1)  code(2)    DEV  2022-08-21 09:30:16.314809
       HOMOL  code(3)  code(4)  code(5)  HOMOL  2022-08-21 09:30:16.314809
       PRE    code(9)  code(:)  code(;)    PRE  2022-08-21 09:30:16.314809
       PROD   code(<)  code(=)  code(>)   PROD  2022-08-21 09:30:16.314809
       UAT    code(6)  code(7)  code(8)    UAT  2022-08-21 09:30:16.314809
2      DEV    code(?)  code(@)  code(A)    DEV  2022-08-21 09:30:16.314809
       HOMOL  code(B)  code(C)  code(D)  HOMOL  2022-08-21 09:30:16.314809
       PRE    code(H)  code(I)  code(J)    PRE  2022-08-21 09:30:16.314809
       PROD   code(K)  code(L)  code(M)   PROD  2022-08-21 09:30:16.314809
       UAT    code(E)  code(F)  code(G)    UAT  2022-08-21 09:30:16.314809
3      DEV    code(N)  code(O)  code(P)    DEV  2022-08-21 09:30:16.314809
       HOMOL  code(Q)  code(R)  code(S)  HOMOL  2022-08-21 09:30:16.314809
       PRE    code(W)  code(X)  code(Y)    PRE  2022-08-21 09:30:16.314809
       PROD   code(Z)  code([)  code(\)   PROD  2022-08-21 09:30:16.314809
       UAT    code(T)  code(U)  code(V)    UAT  2022-08-21 09:30:16.314809
4      DEV    code(])  code(^)  code(_)    DEV  2022-08-21 09:30:16.314809
       HOMOL  code(`)  code(a)  code(b)  HOMOL  2022-08-21 09:30:16.314809
       PRE    code(f)  code(g)  code(h)    PRE  2022-08-21 09:30:16.314809
       PROD   code(i)  code(j)  code(k)   PROD  2022-08-21 09:30:16.314809
       UAT    code(c)  code(d)  code(e)    UAT  2022-08-21 09:30:16.314809

field        power_02 power_03 power_04 transco_01
run_id env
0      DEV          4        9       16       toto
       HOMOL        4        9       16       titi
       PRE          4        9       16       tutu
       PROD         4        9       16       tete
       UAT          4        9       16       tata
1      DEV          4        9       16       toto
       HOMOL        4        9       16       titi
       PRE          4        9       16       tutu
       PROD         4        9       16       tete
       UAT          4        9       16       tata
2      DEV          4        9       16       toto
       HOMOL        4        9       16       titi
       PRE          4        9       16       tutu
       PROD         4        9       16       tete
       UAT          4        9       16       tata
3      DEV          4        9       16       toto
       HOMOL        4        9       16       titi
       PRE          4        9       16       tutu
       PROD         4        9       16       tete
       UAT          4        9       16       tata
4      DEV          4        9       16       toto
       HOMOL        4        9       16       titi
       PRE          4        9       16       tutu
       PROD         4        9       16       tete
       UAT          4        9       16       tata

In [70]:
df_pivoted.head(12)

    run_id    env       field                       value
0        0    DEV      env_00                         DEV
1        0    DEV  transco_01                        toto
2        0    DEV    power_02                           4
3        0    DEV    power_03                           9
4        0    DEV    power_04                          16
5        0    DEV     code_10                     code(!)
6        0    DEV     code_11                     code(")
7        0    DEV     code_12                     code(#)
8        0    DEV      now_13  2022-08-21 09:30:16.314809
9        0  HOMOL      env_00                       HOMOL
10       0  HOMOL  transco_01                        titi
11       0  HOMOL    power_02                           4

In [73]:
#Calculate field stability

known_fields={}
for k in list(df_pivoted.field.unique()): known_fields[k] ={}
    
for group_by in ( ['field'], ['env', 'field']):
    for tmp, data in df_pivoted.groupby( group_by    ):
        known_fields[  data['field'].values[0]  ][  '/'.join(group_by)  ] = 1/len(data['value'].unique() )

res=pd.DataFrame(known_fields).T

res['stability'] = res.apply(lambda x:
          'constant' if x['field'] > 0.6 else 
              'env_specific' if x['env/field'] > 0.6 else
                  'variable'
          ,axis = 1
         )
res

            env/field  field     stability
env_00            1.0   0.20  env_specific
transco_01        1.0   0.20  env_specific
power_02          1.0   1.00      constant
power_03          1.0   1.00      constant
power_04          1.0   1.00      constant
code_10           0.2   0.04      variable
code_11           0.2   0.04      variable
code_12           0.2   0.04      variable
now_13            1.0   1.00      constant